footer{
    background-color: #000;
    padding-top: 73px;
}
.footer-widget{
    margin-bottom: 40px;
}
.footer-widget img{
    margin-bottom: 30px;
}
.footer-widget h2{
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding-top: 42px;
    margin-bottom: 36px;
}
.footer-widget ul{
    padding-left: 0;
    list-style-type: none;
}
.footer-widget ul a{
    display: inline-block;
    color: #8c8c8c;
    font-size: 16px;
    margin-bottom: 10px;
}
.bottom-link h6{
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
.bottom-link .post-info p{
    font-size: 12px;
}
.bottom-link{
    margin-bottom: 20px;
}
.copyright a{
    color: #8c8c8c;
}
.copyright a:hover{
    color: #10DDB4;
}
.copyright i{
    color: red;
}
.copyright{
    padding: 35px 0 30px;
}
.social-icons a:hover i{
    color: #10ddb4 !important;
}
.social-icons a{
    margin-right: 86px;
    display: inline-block;
}
.social-icons a i{
    font-size: 30px;
    color: #d7d7d7;
    float: left;
    margin-right: 19px;
    transition: all .3s;
}
.social-icons a span{
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #9F9FA0;
    padding-top: 10px;
    transition: all .3s;
}
.social-icons{
    border-top: 1px solid #363636;
    padding: 45px 0;
}
.container {
    max-width: 1176px !important;
}