p{
    font-size: 16px;
    color: #8c8c8c;
    line-height: 1.8;
}
a:hover{
    text-decoration: none !important;
}
.slidersubmit{
    background-color: #10DDB4;
    color: #161616;
    font-family:Roboto, sans-serif; 
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    width: 174px;
    height: 55px;
    border: none;
    border-radius: 30px;
}

.slidertext{
    color: #ffffff;
    font-family: Roboto, sans-serif;
    line-height: 115.2px;
    font-weight: 700;
    font-size: 96px; 
   
    
}

.slidertextp{
    color: #8c8c8c;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}

.carousel-item::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color:#0D0D11 ;
    opacity: 0.74;
    left: 0;
    top: 0;
    z-index: 1;
}

.carousel-item{
    position: relative;
}

.sliderLine{
    position: absolute;
    left: 0px;
    top: 560px;
    display: inline-block;
    width: 40px;
    height: 5px;
    background: #10ddb4;
    z-index:    2;
    animation-duration: 7s;
    animation-name: progress;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes progress{
    0%{width: 0px;}
    100%{width: 1920px;}
}
body{
    font-family: "Roboto", sans-serif;
}
main{
    background-color: #1C1C1C;
    padding: 100px 0 100px 0;
}
.post-date{
    font-size: 0.9em;
    margin: 20px 0px;
    font-weight: bold;
    display: inline-block;
    background-color: #10DDB4;
    padding: 3px 10px;
    color: black;
}
.right-part-post .post-date{
    margin: 0 0 10px 0;
    padding: 1px 5px;
}
.right-part-post h6{
    margin-bottom: 5px !important;
    font-size: 14px !important;
}
.right-part-post .post-info p{
    font-size: 11.4px;
    margin-bottom: 0px !important;
}
.right-post{
    margin: 25px -15px;
}
h3{
    color: white;
    font-weight: 700;
}
.post-info>p{
    display: inline-block;
    letter-spacing: 1px;
}
.post-info{
    font-size: 0.9em;
    margin: 10px 0px 30px 0;
    letter-spacing: 0.5em;
    color: #8C8C8C;
}
.right-part-post .post-info{
    margin: 10px 0 0 0 !important;
    letter-spacing: 0;
}
.post-info a{
    color: #FFE119;
}
.post-info a:hover{
    color: #FFE119;
}
a{
    color: #10DDB4;
}
a:hover{
    text-decoration: none;
    color: #10DDB4;
}
.post-desc{
    line-height: 1.8em;
    color: #8c8c8c;
    font-size: 1em;
    margin-bottom: 20px;
}
.read-more-button{
    color: #161616;
    padding: 19px 45px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #10DDB4;
    border-radius: 30px;
    margin-bottom: 50px;
}
.read-more-button:hover{
    color: #161616;
}
.post{
    margin-bottom: 80px;
}
.post img{
    width: 100%;
}
.read-more-button-little{
    font-size: 0.9em;
    font-weight: bold;
}
.search{
    border:none;
    border-bottom: 3px solid #10DDB4;
    height: 53px;
    width: 100%;
    padding: 0 32px;
    font-style: italic;
    font-family: inherit;
    color: #767676;
    font-size: 14px;
}
.right-part{
    margin: 50px 0;
}
.right-part h6{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 1.1em;
    color: white;
}
.categorie-list{
    list-style-type: none;
    padding-left: 0;
}
.categorie-list li{
    padding: 8px 0;
}
.categorie {
    color: #8C8C8C;
}
.categorie span{
    border-radius: 50%;
    font-size: 11px;
    padding: 4px 6px;
    float: right;
    color: #1C1C1C;
}
.categorie:hover{
    color: #8c8c8c;
}
.categorie-list li:nth-child(1) span{
    background-color: #10DDB4;
}
.categorie-list li:nth-child(2) span{
    background-color: #FF1980;
}
.categorie-list li:nth-child(3) span{
    background-color: #FFE119;
}
.categorie-list li:nth-child(4) span{
    background-color: #5DA9E4;
}
.categorie-list li:nth-child(5) span{
    background-color: #BD9BD2;
}
.categorie-list li:nth-child(6) span{
    background-color: #F89843;
}
.little-post .post-info a{
    color: #FFE119;
}
.little-post .post-info a:hover{
    color: #FFE119;
}
.right-part-post{
    display: inline-block;
}
.comment{
    margin-bottom: 10px;
}
.comment img{
    border-radius: 50%;
    margin-top: -20px;
}
.comment h6{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
}
.comment p {
    display: inline-block;
    font-size: 13px;
    margin-bottom: 0;
}
.date{
    margin-bottom: 0px;
    color: #A5A4A4;
    font-weight: bold;
    font-size: 12px !important;
}
.comment .right-part-post {
    max-width: 80.6%;
}
.right-part-post:nth-child(2){
    color: #7E7E7E;
}

.sb-item{
   padding-top: 100px;
    background-color: #222222;
}

.sb-date{
    position: relative;
    top: -81px;
    left: 30px;
    color: #212529;
    display: inline;
    background-color: #10DDB4;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    padding: 4px;
}

.sb-caption{
    margin-top: -150px;
    margin-left: 202px;
    color: #ffffff;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 500;
}

.sb-metas >p{
    position: relative;
    left: 195px;
    margin-left: 10px;
    display: inline-block;
    color: #8c8c8c;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.sb-description{
    margin-left: 205px;
    color: #8c8c8c;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    line-height: 28.8px;
    font-weight: 400;
    width: 540px;
}


.sb-post{
    margin-bottom: 40px;
}

.sb-metas>p >a{
    color: #FFE11A;
}
.video-part{
    background-color: #2D2D2D;
    text-align: center;
    padding: 70px 0;
}
.logo-video img{
    max-width: 100%;
}
.logo-video p{
    color: #8C8C8C;
    font-size: 16px;
    padding-top: 10px;
    font-weight: 600;
}
.video{
    position: relative;
}
.video img{
    max-width: 100%;
}
.play-button{
    display: block;
    position: absolute;
    width: 100px;
    height: 56px;
    padding-top: 9px;
    border-radius: 50px;
    top: calc(50% - 28px);
    left: calc(50% - 50px);
    font-size: 26px;
    color: white;
    background-color: #ff2260;
}
.play-button:hover{
    color: white;
}




.sb-title{
    color: #ffffff;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
    display: inline-block;
    width: 140px;
}

.in-index1{
    position: relative;
    top: 30px;    
    right: -21px;
    color: #ffffff;
    background-color: #ff5581;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.in-index2{
    position: relative;
    top: 30px;    
    right: -21px;
    color: #ffffff;
    background-color: #10DDB4;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.in-index3{
    position: relative;
    top: 30px;    
    right: -21px;
    color: #ffffff;
    background-color: #5DA9E4;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.in-index4{
    position: relative;
    top: 30px;    
    right: -21px;
    color: #ffffff;
    background-color: #FFE119;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.in-index5{
    position: relative;
    top: 30px;    
    right: -21px;
    color: #ffffff;
    background-color: #BD9BD2;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.in-date{
    position: relative;
    margin-left: 10px;
    margin-bottom: 80px;
    top: -30px;
    color: #212529;
    background-color: #10ddb4;
    font-family: Roboto, sans-serif;
    display: inline-block;
    padding: 2px;
    width: 90px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}

.in-caption{
    position: relative;
    color: #ffffff;
    font-family: Robot,sans-serif;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 500;
    display: inline-block;
    top: -10px;
    left: -95px;
    width: 150px;
    margin-top: 40px;
}

.in-info{
    position: relative;
    top: -90px;
    left: 102px;
    width: 195px;
}

.in-info > p{
    
    display: inline-block;
    color: #8c8c8c;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
